html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

:root{
  --dark-side:#171717;
  --dark-content:#212121;
  --light-side:#f3f4f6;
  --light-content:#ffffff;
  --dark-icon:#b4b4b4;
}
